.App {
  text-align: center;
}

.left {
  float: left;
  width: 30%;
  margin-top: 10px;
  background-color: rgb(240, 238, 238);
  height: 100vh;
  margin-bottom: 10px;
  overflow-y: scroll;
}

/*--------------------- scrollbar style ------------------------*/

.left::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-color: #f5f5f5;
}

.left::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.left::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: rgb(217, 221, 221);
}

/*--------------------- Tabel of Contents ------------------------*/
.left h1 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(176, 188, 197);
}

.note {
  /* padding-left: 15px; */
  padding-bottom: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #d2d7da;

  /* overflow-x: auto;
  overflow-y: auto; */
  font-family: cursive;
  /* border-bottom: 1px solid #d2d7da; */
  margin-left: 30px;
  text-indent: 5px;
  position: relative;
  overflow: hidden;
}
.title {
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.created_date {
  /* padding-top: 10px;
    padding-bottom: 10px; */
  float: left;
  text-align: left;
  position: absolute;
  width: 60%;
}

.preview {
  text-align: left;
  float: right;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
  right: 10px;
  overflow: hidden;
  width: 30%;
}

.left::after {
  content: "";
  background-color: silver;
  position: absolute;
  width: 2px;
  height: 100vh;
  top: 0px;
  left: 30%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right {
  float: right;
  width: 70%;
  margin-top: 10px;
}
